<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Followed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-xs="6"  size-sm="6" size-md="4" size-lg="3" *ngFor="let item of movies; let i = index" >
        <ion-card [routerLink]="['/home/',item.id]">
          <img [src]="imageBaseUrl + '/w400' + item.poster_path" />
          <ion-card-header>
            <ion-card-title class="movieTitle">{{item.title}}</ion-card-title>
            <ion-card-subtitle>
              {{item.release_date ? (item.release_date | date:'d/M/yy') : 'No data' }}
              <!-- <ion-badge color="primary">{{item.vote_average}}</ion-badge> -->
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
    <ion-item  button *ngFor="let item of movies; let i = index" [routerLink]=" [item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" />
      </ion-avatar>
      <ion-label>
        {{item.title}}
        <p> {{item.release_date | date:'d/M/yy'}}</p>
    </ion-label>
    <ion-badge slot="end" color="primary">{{item.vote_average}}</ion-badge>
    </ion-item>
  </ion-list> -->


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>