#title {
    margin-bottom: 10px;
}

#logo {
    width: 188px;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
}

.emailPassword {
    color: rgb(199, 199, 199);
}

.emailPassword:focus {
    color: rgb(199, 199, 199);
}

.emailPassword {
    color: rgb(199, 199, 199);
}

.emailPassword:focus {
    color: rgb(199, 199, 199);
}

#loginButton {
    margin-top: 30px;
    margin-bottom: 15px;
    height: 40px;
    width: 50%;
    border-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ececec;
    border-radius: 10px;
}

#register {
    margin-bottom: -8px;
    color: black;
    text-decoration: underline;
}

.registerGuest {
    margin-top: -12px;
    margin-bottom: -8px;
}

.registerGuestText {
    font-size: 11px;
    --color: black;
}

.item-has-focus {
    --highlight-background: white;
    --color-focused: white !important;
}

.item-has-focus>ion-label {
    --highlight-background: white;
    color: white !important;
}