<ion-content>
  <div id="container">
    <img id="logo" [src]="image" />
    <form [formGroup]="credentials" (ngSubmit)="login()">

      <ion-item class="textWhite customInput ion-margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input class="emailPassword" type="email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
      </ion-item>

      <ion-item class="textWhite customInput ion-margin-bottom">
        <ion-label position="floating">Password</ion-label>
        <ion-input class="emailPassword" type="password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6
          characters</ion-note>
      </ion-item>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button id="loginButton" fill="clear" type="submit" [disabled]="!credentials.valid">Login</ion-button>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <ion-button id="register" fill="clear" type="button" (click)="register()">Create account</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>