ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  left: 0;
  right: 0;
}
.containerLike {
display: flex;
justify-content: center;
width: 100%;
align-items: center;
padding-bottom: 5%;
padding-top: 5%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .likeDislike {
//   text-align: center;
//   left: 0;
//   right: 0;
// }

.main-button {
  --background-hover: var(--background);
  font-size: 38px;
}

// #favButton {
//   position: relative;
//   z-index: 99;
//   float: right;
// }
// .noBgButton {
//   position: relative;
//   z-index: 99;
//   margin-right: auto;
//   // float: right;
// }