<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="movie">
    <div class="textWhite" id="container">
    <img [src]="imageBaseUrl + '/w400' + movie.poster_path">
    </div>
    <ion-card-header>
      <ion-card-title class="title">{{movie.title}} 
        <ion-button class="main-button" id="favButton" color="danger" fill="clear" shape="round" (click)="fav()">
          <ion-icon class="main-button" [name]="favIcon ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </ion-card-title>
      <div class="textWhite" class="containerLike">
      <ion-button id="likeButton" color="medium" fill="clear" shape="round" (click)="likeDislike(true)">
        <ion-icon class="main-button" [name]="likeIcon ? 'thumbs-up' : 'thumbs-up-outline'"></ion-icon>
      </ion-button>
      <ion-button id="disLikeButton" color="medium" fill="clear" shape="round" (click)="likeDislike(false)">
        <ion-icon class="main-button" [name]="disLikeIcon ? 'thumbs-down' : 'thumbs-down-outline'"></ion-icon>
      </ion-button>
    </div>
      <ion-card-subtitle>{{movie.tagline}}</ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let g of movie.genres; let isLast = last">
          {{g.name}} {{!isLast ? '·' : ''}}
        </span>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="medium">{{ movie.overview }}</ion-label>

      <ion-item lines="none">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>{{ movie.release_date | date: 'y' }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-label>{{ movie.budget | currency: 'USD' }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
        <ion-label>{{ numLikes }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="comments" (ngSubmit)="userComment()">


    <!-- <ion-item class="userInput textWhite">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input class="emailPassword" type="password" [(ngModel)]="loginPassword"  name="password"></ion-input>
    </ion-item> -->
    
    <ion-item fill="solid" class="customInput">
      <ion-label position="floating">Comment</ion-label>
      <ion-input class="emailPassword" type="text" formControlName="comment"></ion-input>
      <ion-note slot="error" *ngIf="(comment.dirty || comment.touched) && comment.errors">Only allowed between 1 and 150 characters</ion-note>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-align-items-center textWhite">
        <ion-col size="12" class="ion-text-center">
          <ion-button id="loginButton" fill="clear" type="submit" [disabled]="!comments.valid">Comment</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <ion-card *ngFor="let item of commentsCard.reverse(); let i = index">

    <div style="display: flex; align-items: center;">
      <ion-avatar class="avatar">
        <img id="avatar" src="{{getCommentUserPhoto(item.userId)}}">
      </ion-avatar>
      <span style="padding-left: 8px;">{{getUserName(item.userId)}}</span>
    </div>
   
    <ion-card-content>
      {{item.comment}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="commentsCard.length == 0">
    <ion-card-content>
      Be the first to leave a comment!!
    </ion-card-content>
  </ion-card>




</ion-content>