<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="movie">
    <img [src]="imageBaseUrl + '/w400' + movie.poster_path">

    <ion-card-header>
      <ion-card-title>{{movie.title}}
        <ion-button class="noBgButton" id="favButton" color="danger" fill="clear" shape="round" (click)="liked()">
          <ion-icon class="main-button" [name]="likeIcon ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </ion-card-title>

      <ion-card-subtitle>{{movie.tagline}}</ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let g of movie.genres; let isLast = last">
          {{g.name}} {{!isLast ? '·' : ''}}
        </span>
      </ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-label color="medium">{{ movie.overview }}</ion-label>

      <ion-item lines="none">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>{{ movie.release_date | date: 'y' }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        <ion-label>{{ movie.budget | currency: 'USD' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="comments" (ngSubmit)="userComment()">

    <ion-item  fill="solid" class="ion-margin-bottom">
      <ion-label position="stacked"></ion-label>
      <ion-input type="text" placeholder="Comment" formControlName="comment"></ion-input>
      <ion-note slot="error"*ngIf="(comment.dirty || comment.touched) && comment.errors">Name is required</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!comments.valid">Comment</ion-button>

  </form>



  <!-- <ion-col size="12" size-xs="6"  size-sm="6" size-md="4" size-lg="3" *ngFor="let item of movies; let i = index" >
    <ion-card [routerLink]=" [item.id]">
      <img [src]="imageBaseUrl + '/w400' + item.poster_path" />
      <ion-card-header>
        <ion-card-title class="movieTitle">{{item.title}}</ion-card-title>
        <ion-card-subtitle>
          {{item.release_date ? (item.release_date | date:'d/M/yy') : 'No data' }}
          <ion-badge color="primary">{{item.vote_average}}</ion-badge>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-col> -->


    
    <ion-card  *ngFor="let item of commentsCard; let i = index">
      <ion-card-content>
        {{item}}
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="commentsCard.length == 0">
      <ion-card-content>
        MIAU
      </ion-card-content>
    </ion-card>


    

</ion-content>