<ion-content [fullscreen]="true">
  <div id="container">
    <ion-back-button class="loginnavbtn" defaultHref="/"></ion-back-button>
    <h1>Create a Movizilla Account</h1>
    <img id="logo" [src]="image" />
    <form [formGroup]="singUpCredentials" (ngSubmit)="register()">

      <h4 class="textCenter textWhite customInput">Name</h4>
      <ion-item class="textCenter customInput textWhite">
        <ion-label position="stacked"></ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
        <ion-note slot="error" *ngIf="(name.dirty || name.touched) && name.errors">Name is required</ion-note>
      </ion-item>

      <h4 class="textCenter textWhite customInput">Surname</h4>
      <ion-item class="textCenter customInput textWhite">
        <ion-label position="floating"></ion-label>
        <ion-input type="text" placeholder="Surname" formControlName="surname"></ion-input>
        <ion-note slot="error" *ngIf="(surname.dirty || surname.touched) && surname.errors">Surname is required
        </ion-note>
      </ion-item>

      <h4 class="textCenter textWhite customInput">Email</h4>
      <ion-item class="textCenter customInput textWhite">
        <ion-label position="floating"></ion-label>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
      </ion-item>

      <h4 class="textCenter textWhite customInput">Password</h4>
      <ion-item class="textCenter customInput textWhite">
        <ion-label position="floating"></ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6
          characters</ion-note>
      </ion-item>

      <div style="display: flex; justify-content: center;">
        <ion-button id="create" type="submit" fill="clear" [disabled]="!singUpCredentials.valid">Create account
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>