<ion-content class="bg-classRegister" [fullscreen]="true">
  <div id="container">
    <ion-buttons>
      <button ion-button left class="loginnavbtn" (click)="goback()">
        <ion-icon id="arrow" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <h1>Sing Up</h1>
    <form>
      <h4 class="textCenter textWhite">Nombre</h4>
      <ion-item class="textCenter userInput textWhite">
        <ion-label position="stacked"></ion-label>
        <ion-input type="text" [(ngModel)]="NombreUser" name="NombreUser"></ion-input>
      </ion-item>
      <h4 class="textCenter textWhite">Apellidos</h4>
      <ion-item class="textCenter userInput textWhite">
        <ion-label position="floating"></ion-label>
        <ion-input type="text" [(ngModel)]="ApellidosUser" name="ApellidosUser"></ion-input>
      </ion-item>
      <h4 class="textCenter textWhite">Email</h4>
      <ion-item class="textCenter userInput textWhite">
        <ion-label position="floating"></ion-label>
        <ion-input type="text" [(ngModel)]="loginEmail" name="usuario"></ion-input>
      </ion-item>
      <h4 class="textCenter textWhite">Contraseña</h4>
      <ion-item class="textCenter userInput textWhite">
        <ion-label position="floating"></ion-label>
        <ion-input type="text" [(ngModel)]="loginPassword" name="password"></ion-input>
      </ion-item>
    </form>
    <div style="display: flex; justify-content: center;">
      <ion-button id="loginButton" fill="clear" (click)="register()">Regístrate</ion-button>
  </div>
  </div>
</ion-content>