.loginnavbtn{
    width: 60px;
    height: 60px;
    background-color: transparent;
    color: white;
}

#arrow{
    font-size: 35px;
    color: white;
}
h1{
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 0px;
}
h4{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0px;
}
ion-item{
    margin-top: 0px;
    font-size: 12px;
    color: rgb(199, 199, 199);
}
.item-has-focus{
    --highlight-background: white;
    --color-focused: white !important;
 }
 .item-has-focus > ion-label{
    --highlight-background: white;
    color: white !important;
 }
 #create{
    margin-top: 30px;
    margin-bottom: 15px;
    height: 40px;
    width: 50%;
    border-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #ececec;
    border-radius: 10px;
}