.avatar{
    margin:0 auto;
    margin-top: 10%;
    width: 200px;  
    height: 200px;
}
.line{
    background-color: white;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
}
p{
    margin-bottom: 0;
    margin-left: 15px;
    margin-top: 28px;
}

.dataPerfil{
    font-size: 10px;
    margin-left: 20px;
    color: #e1e1e1de;
}

#myFileInput {
    display:none;
}
#changeImg{
    font-size: 10px;
}
#logOut{
    margin-top: 30px;
}
ion-button {
    text-transform: none;
   }