.image{
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;  
  height: 250px;
}
#cardHeader{
  text-align: center;
  color: black;
}
#fecha{
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  opacity: inherit
}


